<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Checkout Page</title>
<link rel="stylesheet" href="/css/style1.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<style>
    .ftco-animate {
  
  opacity: 1;
  visibility: visible;
color: black;               
}
.pricing-entry {

border: 2px solid #033fff;
border-radius: 15px;
position: relative;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease; }
@media (max-width: 767.98px) {
  .pricing-entry {
    margin-bottom: 4em; } }
.pricing-entry > div {
  padding: 20px; }
  .pricing-entry > div p {
    margin-bottom: 0; }
.pricing-entry h3 {
  font-size: 28px;
  font-weight: 500; }
.pricing-entry p .price {
  font-weight: 900;
  font-size: 28px;
  color: #033fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.pricing-entry p .per {
  font-size: 12px; }
.pricing-entry ul {
  margin: 0;
  padding: 0; }
  .pricing-entry ul li {
    list-style: none;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.7); }
    .pricing-entry ul li:nth-child(odd) {
      background: #fafafa; }
.pricing-entry .button {
  position: absolute;
  bottom: -26px;
  left: 0;
  right: 0;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .pricing-entry .button .btn {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }

</style>


<% if (typeof cart !== "undefined") { %>

<h1 class="page-title">My Cart</h1>
<br><br>

<table class="table table-hover">
    
    <tr>
        <th>Package Name</th>
        <th>&nbsp;&nbsp;&nbsp;Key Benefits</th>
        <th>Price</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    
    <% var total = 0; %>
    <% cart.forEach(function(price){ %>
    <% var sub = parseFloat(price.amount)%>
    <% total += +sub %>
    <tr>
        <td><%= price.title %></td>
        <td><img alt="" src="/<%= price.title %>.png" style="float:left" /></td>
        <td>₹<%= price.amount %></td>
        <td>
            <a href="/cart/update/<%= price.title %>?action=clear">Clear</a>&nbsp;
        </td>
        <td>&nbsp;&nbsp;₹<%= sub %></td>

    </tr>
    <% }); %>
    <!-- <form method="POST" idd="f1" action="/transaction/order"> 
        <input type="hidden" name="amount" id="amount" class="form-control">
    </form>
    
    <script type="text/javascript">
        document.getElementById('f1').submit();
    </script> -->
    <tr>
        <td colspan="6" align="right"><b>Total: </b> ₹<%= parseFloat(total).toFixed(2) %></td>
    </tr>
    <tr>
        <td colspan="5" align="right">
            <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
        </td>
        <td colspan="5" align="right">
            <a class="btn btn-primary buynow" href="#">Buy now</a>
        </td>
    </tr>
</table>

<body>
    <section class="pricingSection" id="pricing-section">
        <div class="pricing-box">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="howwork-subheading" style="font-size: 70px;"><u>Our Packages</u></span>
    
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-md-2 ftco-animate" style="padding: 25px;">
                    <div class="pricing-entry pb-5">
                        <div>
                            <h3 class="mb-4 text-center"><%= prices[0].title %></h3>
    
                            <p class="text-center"><span class="price">₹ <%= prices[0].amount %></span> <span class="per">/ month</span></p>
                        </div>
                        <ul>
                            <li class="PricingFont"><img src="images/pricing_keywords_enabled.png" height=30 width=30 alt=""> Keywords Enabled
                            </li>
                            <li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
                                Consultation</li>
                            <li class="PricingFont"><img src="images/pricing_international_acceptance.png" width="30" height="30" alt="">
                                International Acceptance</li>
                            <li class="PricingFont"><img src="images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
                                Friendly</li>
                            <li class="PricingFont"><img src="images/pricing_content_creation.png" width="30" height="30" alt=""> Content
                                Creation</li>
                            <li class="PricingFont"><img src="images/pricing_unlimited_changes.png" width="30" height="30" alt=""> Unlimited
                                Changes</li>
                            <li class="PricingFont"><img src="images/pricing_delivery.png" width="30" height="30" alt=""> 5-6 Days Delivery</li>
                            
    
                        </ul>
                        <a href="/cart/add/<%= prices[0].slug%>/<%= prices[0].amount%>" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
                            data-target="#modalLinkedin">Add To Cart</a>
                        
                    </div>
                </div>
                <div class="col-md-2 ftco-animate" style="padding: 25px;">
                    <div class="pricing-entry pb-5">
                        <div>
                            <h3 class="mb-4 text-center"><%= prices[1].title %></h3>
    
                            <p class="text-center"><span class="price  ">₹ <%= prices[1].amount %></span> <span class="per">/ month</span></p>
                        </div>
                        <ul>
                            <li class="PricingFont"><img src="images/pricing_keywords_enabled.png" width="30" height="30" alt=""> Keywords
                                Enabled</li>
                            <li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
                                Consultation</li>
                            <li class="PricingFont"><img src="images/pricing_international_acceptance.png" width="30" height="30" alt="">
                                International Acceptance</li>
                            <li class="PricingFont"><img src="images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
                                Friendly</li>
                            <li class="PricingFont"><img src="images/pricing_multiple_pages.png" width="30" height="30" alt=""> Multiple Pages
                            </li>
                            <li class="PricingFont"><img src="images/pricing_unlimited_changes.png" width="30" height="30" alt=""> Unlimited
                                Changes</li>
                            <li class="PricingFont"><img src="images/pricing_ATS_Optimized.png" width="30" height="30" alt=""> ATS Optimized
                            </li>
                            <li class="PricingFont"><img src="images/pricing_delivery.png" width="30" height="30" alt=""> 2-3 Days Delivery</li>
                        </ul>
                        <a href="/cart/add/<%= prices[1].slug%>/<%= prices[1].amount%>" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
                            data-target="#modalResume">Add To Cart</a>
                        
                    </div>
                </div>
    
                <div class="col-md-2 ftco-animate" style="padding: 25px;">
                    <div class="pricing-entry pb-5">
                        <div>
                            <h3 class="mb-4 text-center"><%= prices[2].title %></h3>
    
                            <p class="text-center"><span class="price">₹ <%= prices[2].amount %></span> <span class="per">/ month</span></p>
                        </div>
                        <ul>
                            <li class="PricingFont"><img src="images/pricing_keywords_enabled.png" width="30" height="30" alt=""> Keywords
                                Enabled</li>
                            <li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
                                Consultation</li>
                            <li class="PricingFont"><img src="images/pricing_international_acceptance.png" width="30" height="30" alt="">
                                International Acceptance</li>
                            <li class="PricingFont"><img src="images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
                                Friendly</li>
                            <li class="PricingFont"><img src="images/pricing_content_creation.png" width="30" height="30" alt=""> Content
                                Writing</li>
                            <li class="PricingFont"><img src="images/pricing_video_editing.png" width="30" height="30" alt=""> Video Editing
                            </li>
                            <li class="PricingFont"><img src="images/pricing_ATS_Optimized.png" width="30" height="30" alt=""> Ats Optimized
                            </li>
                            <li class="PricingFont"><img src="images/pricing_delivery.png" width="30" height="30" alt=""> 5-7 Days Delivery</li>
    
    
                        </ul>
                        <a href="/cart/add/<%= prices[2].slug%>/<%= prices[2].amount%>" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
                            data-target="#modalStudent">Add To Cart</a>
                       
                    </div>
                </div>
            
    
                <div class="col-md-2 ftco-animate" style="padding: 25px;">
                    <div class="pricing-entry active pb-5 ">
                        <div>
                            <h3 class="mb-4 text-center"><%= prices[3].title %></h3>
    
                            <p class="text-center"><span class="price">₹ <%= prices[3].amount %></span> <span class="per">/ month</span></p>
                        </div>
                        <ul>
    
                            <li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
                                Consultation</li>
                            <li class="PricingFont"><img src="images/pricing_personalized_schedule.png" width="30" height="30" alt="">
                                Personalized Schedule</li>
                            <li class="PricingFont"><img src="images/pricing_resume_design.png" width="30" height="30" alt=""> Resume Design
                            </li>
                            <li class="PricingFont"><img src="images/linkedin2.png	" width="30" height="30" alt=""> Linkedin Makeover</li>
                            <li><img src="images/pricing_online_session.png" width="30" height="30" alt=""> Online Sessions
                            </li>
                            <li class="PricingFont"><img src="images/pricing_mock_interviews.png" width="30" height="30" alt=""> Mock Interviews
                            </li>
                            <li class="PricingFont"><img src="images/pricing_QA.png" width="30" height="30" alt=""> Common Questions</li>
                            <li class="PricingFont"><img src="images/pricing_body_language.png" width="30" height="30" alt=""> Body Language
                                Training</li>
                            <li class="PricingFont"><img src="images/pricing_certificate_ofCompletion.png" width="30" height="30" alt="">
                                Certificate Of Completion</li>
                        </ul>
                        
                        <a href="/cart/add/<%= prices[3].slug%>/<%= prices[3].amount%>" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
                            data-target="#modalLinkedin">Add To Cart</a>
                    </div>
                </div>
    
                <div class="col-md-2 ftco-animate" style="padding: 25px;">
                    <div class="pricing-entry pb-5 ">
                        <div>
                            <h3 class="mb-4 text-center"><%= prices[4].title %></h3>
    
                            <p class="text-center"><span class="price">₹ <%= prices[4].amount %></span> <span class="per">/ month</span></p>
                        </div>
                        <ul>
                            <li class="PricingFont"><img src="images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
                                Consultation</li>
                            <li class="PricingFont"><img src="images/pricing_personalized_schedule.png" width="30" height="30" alt="">
                                Personalized Schedule</li>
                            <li class="PricingFont"><img src="images/pricing_resume_design.png" width="30" height="30" alt=""> Resume Design
                            </li>
                            <li class="PricingFont"><img src="images/linkedin2.png" width="30" height="30" alt=""> Linkedin Makeover</li>
                            <li class="PricingFont"><img src="images/Interview_Training.png" width="30" height="30" alt=""> Interview Training
                            </li>
                            <li class="PricingFont"><img src="images/pricing_career_guidance.png" width="30" height="30" alt=""> Career Guidance
                            </li>
                            <li class="PricingFont"><img src="images/personality_development.png" width="30" height="30" alt=""> Personality
                                Development</li>
                            <li class="PricingFont"><img src="images/pricing_confidence_building.png" width="30" height="30" alt=""> Confidence
                                Building</li>
                            <li class="PricingFont"><img src="images/pricing_certificate_ofCompletion.png" width="30" height="30" alt="">
                                Certificate Of Completion</li>
                        </ul>
                        <a href="/cart/add/<%= prices[4].slug%>/<%= prices[4].amount%>" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
                            data-target="#modalStudent">Add To Cart</a>
                        
                    </div>
                </div>
    
    
                
            </div>
        </div>
        <br><br><br><br><br>
    
</section>
    