<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Checkout Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
<link rel="stylesheet" href="/css/style1.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
<script src="/js/main.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="/css/animate.css">

<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/college_partners.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<link rel="stylesheet" href="/css/ionicons.min.css">
<link rel="stylesheet" href="/css/testimonials.css">
<link rel="stylesheet" href="/css/flaticon.css">
<link rel="stylesheet" href="/css/icomoon.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/css/css/selfstyle.css">
<link rel="stylesheet" href='/css/timeline.css'>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/scrollax.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/testimonials.js"></script>


<% if (typeof cart !== "undefined") { %>

<h1 class="page-title">My Cart</h1>
<br><br>

<table class="table table-hover">
    
    <tr>
        <th>Package Name</th>
        <th>&nbsp;&nbsp;&nbsp;Key Benefits</th>
        <th>Price</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    
    <% var total = 0; %>
    <% cart.forEach(function(price){ %>
    <% var sub = parseFloat(price.amount)%>
    <% total += +sub %>
    <tr>
        <td><%= price.title %></td>
        <td><img alt="" src="/<%= price.title %>.png" style="float:left" /></td>
        <td>₹<%= price.amount %></td>
        <td>
            <a href="/cart/update/<%= price.title %>?action=clear">Clear</a>&nbsp;
        </td>
        <td>&nbsp;&nbsp;₹<%= sub %></td>

    </tr>
    <% }); %>
    <!-- <form method="POST" idd="f1" action="/transaction/order"> 
        <input type="hidden" name="amount" id="amount" class="form-control">
    </form>
    
    <script type="text/javascript">
        document.getElementById('f1').submit();
    </script> -->
    <tr>
        <td colspan="6" align="right"><b>Total: </b> ₹<%= parseFloat(total).toFixed(2) %></td>
    </tr>
    <tr>
        <td colspan="5" align="right">
            <a class="clearcart btn btn-danger" href="/cart/clear">Clear cart</a>
        </td>
        <td colspan="5" align="right">
            <a class="btn btn-primary buynow" id="f2" href="/users/register">Buy now</a>
        </td>
    </tr>
</table>


<section class="pricing-section" id="pricing-section">


	<br>
	<br>
	<br>
	<div class="pricing-box">
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="howwork-subheading" style="font-size: 70px;">Pricing</span>
				<h2 class="mb-4">Explore Packs</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
			</div>
		</div>
		<div class="row justify-content-center ">
			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5">
					<div>
						<h3 class="mb-4 text-center"><%= prices[4].title %></h3>

						<p class="text-center"><span class="price  ">₹ <%= prices[4].amount %></span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li><img src="/images/pricing_keywords_enabled.png" width="30" height="30" alt=""> Keywords
							Enabled</li>
						<li><img src="/images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li><img src="/images/pricing_international_acceptance.png" width="30" height="30" alt="">
							International Acceptance</li>
						<li><img src="/images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
							Friendly</li>
						<li><img src="/images/pricing_multiple_pages.png" width="30" height="30" alt=""> Multiple Pages
						</li>
						<li><img src="/images/pricing_unlimited_changes.png" width="30" height="30" alt=""> Unlimited
							Changes</li>
						<li><img src="/images/pricing_ATS_Optimized.png" width="30" height="30" alt=""> ATS Optimized
						</li>
						<li><img src="/images/pricing_delivery.png" width="30" height="30" alt=""> 2-3 Days Delivery</li>
					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
                        data-target="#modalResume">Know More</a>
					<p class="button text-center"><a href="/cart/add/<%= prices[4].slug%>/<%= prices[4].amount%>" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>


			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5">
					<div>
						<h3 class="mb-4 text-center"><%= prices[0].title %></h3>

						<p class="text-center"><span class="price">₹ <%= prices[0].amount %></span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li><img src="/images/pricing_keywords_enabled.png" height=30 width=30 alt=""> Keywords Enabled
						</li>
						<li><img src="/images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li><img src="/images/pricing_international_acceptance.png" width="30" height="30" alt="">
							International Acceptance</li>
						<li><img src="/images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
							Friendly</li>
						<li><img src="/images/pricing_content_creation.png" width="30" height="30" alt=""> Content
							Creation</li>
						<li><img src="/images/pricing_unlimited_changes.png" width="30" height="30" alt=""> Unlimited
							Changes</li>
						<li><img src="/images/pricing_delivery.png" width="30" height="30" alt=""> 5-6 Days Delivery</li>
						<li> </li>
						<li> </li>
						<li> </li>
						<li> </li>

					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalLinkedin">Know More</a>
					<p class="button text-center"><a href="/cart/add/<%= prices[0].slug%>/<%= prices[0].amount%>" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>

			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry active pb-5 ">
					<div>
						<h3 class="mb-4 text-center"><%= prices[1].title %></h3>

						<p class="text-center"><span class="price"> ₹ <%= prices[1].amount %></span> <span class="per">/ month</span></p>
					</div>
					<ul>

						<li><img src="/images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li><img src="/images/pricing_personalized_schedule.png" width="30" height="30" alt="">
							Personalized Schedule</li>
						<li><img src="/images/pricing_resume_design.png" width="30" height="30" alt=""> Resume Design
						</li>
						<li><img src="/images/linkedin2.png	" width="30" height="30" alt=""> Linkedin Makeover</li>
						<li><img src="/images/pricing_online_session.png" width="30" height="30" alt=""> Online Sessions
						</li>
						<li><img src="/images/pricing_mock_interviews.png" width="30" height="30" alt=""> Mock Interviews
						</li>
						<li><img src="/images/pricing_QA.png" width="30" height="30" alt=""> Common Questions</li>
						<li><img src="/images/pricing_body_language.png" width="30" height="30" alt=""> Body Language
							Training</li>
						<li><img src="/images/pricing_certificate_ofCompletion.png" width="30" height="30" alt="">
							Certificate Of Completion</li>
					</ul>
					<p class="button text-center"><a href="/cart/add/<%= prices[1].slug%>/<%= prices[1].amount%>" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalLinkedin">Know More</a>
				</div>
			</div>

			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5 ">
					<div>
						<h3 class="mb-4 text-center"><%= prices[2].title %></h3>

						<p class="text-center"><span class="price"> ₹ <%= prices[2].amount %></span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li><img src="/images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li><img src="/images/pricing_personalized_schedule.png" width="30" height="30" alt="">
							Personalized Schedule</li>
						<li><img src="/images/pricing_resume_design.png" width="30" height="30" alt=""> Resume Design
						</li>
						<li><img src="/images/linkedin2.png" width="30" height="30" alt=""> Linkedin Makeover</li>
						<li><img src="/images/Interview_Training.png" width="30" height="30" alt=""> Interview Training
						</li>
						<li><img src="/images/pricing_career_guidance.png" width="30" height="30" alt=""> Career Guidance
						</li>
						<li><img src="/images/personality_development.png" width="30" height="30" alt=""> Personality
							Development</li>
						<li><img src="/images/pricing_confidence_building.png" width="30" height="30" alt=""> Confidence
							Building</li>
						<li><img src="/images/pricing_certificate_ofCompletion.png" width="30" height="30" alt="">
							Certificate Of Completion</li>
					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalStudent">Know More</a>
					<p class="button text-center"><a href="/cart/add/<%= prices[2].slug%>/<%= prices[2].amount%>" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>


			<div class="col-md-2 ftco-animate" style="padding: 25px;">
				<div class="pricing-entry pb-5">
					<div>
						<h3 class="mb-4 text-center"><%= prices[3].title %></h3>

						<p class="text-center"><span class="price">₹ <%= prices[3].amount %></span> <span class="per">/ month</span></p>
					</div>
					<ul>
						<li><img src="/images/pricing_keywords_enabled.png" width="30" height="30" alt=""> Keywords
							Enabled</li>
						<li><img src="/images/pricing_consultation.png" width="30" height="30" alt=""> 1 on 1
							Consultation</li>
						<li><img src="/images/pricing_international_acceptance.png" width="30" height="30" alt="">
							International Acceptance</li>
						<li><img src="/images/pricing_SE_Friendly.png" width="30" height="30" alt=""> Search Engine
							Friendly</li>
						<li><img src="/images/pricing_content_creation.png" width="30" height="30" alt=""> Content
							Writing</li>
						<li><img src="/images/pricing_video_editing.png" width="30" height="30" alt=""> Video Editing
						</li>
						<li><img src="/images/pricing_ATS_Optimized.png" width="30" height="30" alt=""> Ats Optimized
						</li>
						<li><img src="/images/pricing_delivery.png" width="30" height="30" alt=""> 5-7 Days Delivery</li>


					</ul>
					<a href="#" class="btn btn-primary d-block px-2 py-3 mb-4" data-toggle="modal"
						data-target="#modalStudent">Know More</a>
					<p class="button text-center"><a href="/cart/add/<%= prices[3].slug%>/<%= prices[3].amount%>" class="btn btn-primary px-4 py-3">Buy Pack</a></p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</section>
<form id="f1" action="/users/end" method="post">

    <% var num = 0; %>
      <% cart.forEach(function(p) { %>
      <% num++ %>
      <input type="hidden" name="packagename" value="<%= p.title %>">
      <input type="hidden" name="amount" value="<%= p.amount %>">
      <input type="hidden" name="totalamount" value="<%= total %>">
    <% }); %>
</form>

<% } else {%>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>
<script>
    $(function() {
        $('a.clearcart').on('click', function () {
            if (!confirm('Confirm clear cart'))
                return false;
        });
        $('a.buynow').on('click', function () {
                $('https://localhost:3000/users/register').click();
            });
              
        
        });
    </script>
  